h2 {
    text-align: center;
}
.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-weight: bold;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.addButton {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 10px;
}